<launch>
    <!-- <include file="$(find yolov3_trt_ros)/launch/yolov3_trt_ros.launch"/> -->
    <!-- <include file="$(find xycar_motor)/launch/xycar_motor.launch"/> -->
    <!-- <include file="$(find xycar_lidar)/launch/lidar_noviewer.launch"/> -->
    <node name="auto_drive" pkg="auto_drive" type="auto_drive_node" output="screen"/>
    <!-- get parameter from config file path-->
    <!-- <param name="config_path" type="str" value="$(find LaneKeepingSystem)/config/config.yaml"/> -->
    <!-- make your launch file to use your project. -->
	<!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="video_device" value="/dev/videoCAM"/>
        <param name="exposure" value="50"/>
        <param name="image_width" value="640"/>
        <param name="image_height" value="480"/>
        <param name="pixel_format" value="yuyv"/>
        <param name="io_method" value="mmap"/>
        <param name="camera_name" value="usb_cam"/>
        <param name="camera_frame_id" value="usb_cam"/>
        <param name="camera_info_url" value="file://$(find usb_cam)/calibration/usb_cam.yaml"/>
	</node> -->
</launch>
